<script>
  $(function() {
    var pusher = new Pusher('<%= ENV['PUSHER_KEY'] %>', { authEndpoint: '/auth' } );
    var channel = pusher.subscribe('presence-lobby');
    var current_user_id = '<%= current_user.id %>'
    channel.bind('pusher:subscription_succeeded', function(members) {
      channel.members.each(function(member) {
        if (current_user_id === member.id) {
          $('#users_online').append('<div class="user" data-name="' + member.info.name + '"><b><span style="">&bull;</span> ' + member.info.name + '</b></div>')
        } else {
          $('#users_online').append('<div class="user" data-name="' + member.info.name + '"><span>&bull;</span> ' + member.info.name + ' ' + '<button type="button" class="challenge"> Challenge</button></div>')
        }
      })
    })
    channel.bind('pusher:member_added', function(member) {
      $('#users_online').append('<div class="user" data-name="' + member.info.name + '"><span>&bull;</span> ' + member.info.name + ' ' + '<button type="button" class="challenge"> Challenge</button></div>')
    })
    channel.bind('pusher:member_removed', function(member) {
      $('#users_online div[data-name="' + member.info.name + '"]').remove();
    })

    var challenge_channel = pusher.subscribe('<%= current_user.name %>_channel');
    challenge_channel.bind('challenge', function(data) {
      var response = confirm(data.challenger + ' challenged you. Do you want to accept the challenge?');
      if (response) {
        $.post('/accept_challenge', {challenger: data.challenger, challengee: data.challengee})
      }
    })
    challenge_channel.bind('start_game', function(data) {
      window.location.href = 'http://localhost:9292/vs_friends?game_id=' + data.game_id + '&opponent=' + data.opponenet
    })
    $(document).on('click', '.challenge', function() {
      var challengee = $(this).parent().data('name')
      $.post('/challenge', {challengee: challengee, challenger: '<%= current_user.name %>'})
    })
  })
</script>

<h2 id="welcome">Welcome, <b><%= current_user.name %></b>!</h2><br>
<div id="count"></div>
<div id="users_online">
  <h3>Lobby</h3>
  <div><span>&bull; </span>RPSbot
    <form action="/challenge_computer" method="post" style="display: inline-block">
        <input type="submit" value="Challenge">
    </form>
  </div>
</div>
